@model IEnumerable<ALEmanMS.AdminWebsite.Models.ApplicationUser>

@{
    ViewBag.Title = "المستخدمين";
}



@section Css {
    <!-- Css libraries for this page goes here-->
    <!-- Modals Library-->
    <link href="~/Content/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/Content/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="card-box">
    <h2>المستخدمين</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="m-b-30">
                <a id="btnAddNewUser" href="@Url.Action("Register", "Account")"  class="btn btn-success waves-effect waves-light"><i class="fa fa-plus"></i> إضافة مستخدم جديد</a>
            </div>
        </div>
    </div>

    <table class="table table-striped" id="usersTable">
        <thead>
            <tr>
                <th>
                    الاسم
                </th>
                <th>
                    البريد الإلكتروني
                </th>
                <th>
                    الدور
                </th>
                <th>إجراءات</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                string trId = "tr" + item.Id;
                string rowId = "row" + item.Id; 

                <tr id="@trId">
                    <td id="@rowId">@item.FullName</td>
                    <td>@item.UserName</td>
                    <td>
                        @*@if(item.Roles != null)
                        {
                            @foreach (var role in item.Roles)
                            {
                                role.RoleI
                            }
                        }*@
                    </td>
                    <td class="actions">
                        
                        <a href="#" class="on-default remove-row removeUser" data-id="@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Modals
{
    
    <!-- Delete  Modal -->
    <div id="con-close-modal-delete" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">رسالة تأكيد</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p>هل أنت متأكد من أنك تريد حذف <strong id="userName"></strong>؟</p>
                        </div>
                        <input type="hidden" id="deleteUserId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                        <button type="submit" id="btnDeleteCity" class="btn btn-danger waves-effect waves-light">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
}

@section Scripts {

    <!-- Scripts related to this page goes here -->
    <!-- Required datatable js -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.print.min.js"></script>

    <!-- Notification js -->
    <script src="~/Content/plugins/notifyjs/dist/notify.min.js"></script>
    <script src="~/Content/plugins/notifications/notify-metro.js"></script>
    <script src="~/Content/assets/js/notifications-asset.js"></script>

    <!-- Parsleyjs -->
    <script type="text/javascript" src="~/Content/plugins/parsleyjs/dist/parsley.min.js"></script>

    <!-- Modals Effects -->
    <!-- Modal-Effect -->
    <script src="~/Content/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/Content/plugins/custombox/dist/legacy.min.js"></script>


    <script>
        $(document).ready(function () {
            var table = $("#citiesTable").DataTable();

            //$("#btnAddDestination").click(function () {
            //    insertDestination();
            //});

          
            // Click the remove city button in the table
            $(".removeCity").click(function () {
                // Get the id
                var id = $(this).data("id");
                // Open Modal
                openDeleteModal(id);
            });

            // Click the delete button in delete modal
            $("#btnDeleteCity").click(function () {
                // Get the id
                var id = $('#deleteCityId').val();

                // Delete
                removeCity(id);
            });

        });
        

        // Function to open delete modal
        function openDeleteModal(id) {
            // Get the name of the user name from the table
            var user = $("#row" + id).text();

            // Show the name in the modal
            $("#userName").text(user);

            // Set the city in the hidden filed
            $("#deleteUserId").val(id);
            // Open the modal
            $("#con-close-modal-delete").modal('toggle');
        }

        // Function to remove the user
        function removeUser(id) {
            // Get the table to manpulaite
            var table = $("#usersTable").DataTable();

            // Get the name of the user
            var name = $("#row" + id).text();

            // Prepare the url
            var url = "@Url.Action("Users", "Account")/" + id;

            // Send the post request to remove
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    // Remove from the table
                    $('#tr' + id).remove();

                    // Close the modal
                    $("#con-close-modal-delete").modal('toggle');

                    // Show notification
                    showSuccessNotification('تمت العملية بنجاح', 'لفد تم حذف المستخدم ' + name);
                }
            }).fail(function (e) {
                showErrorNotification('فشل', 'لم تتم العملية بنجاح, يرجى إعادة المحاولة لاحقاً');
            });
        }
    </script>
}

