@model ALEmanMS.AdminWebsite.Models.CategoryViewModel

@{
    ViewBag.Title = "الأصناف";
}



@section Css {
    <!-- Css libraries for this page goes here-->
    <!-- Modals Library-->
    <link href="~/Content/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/Content/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="card-box">
    <h2>الأصناف</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="m-b-30">
                <button id="btnAddNewCategory" data-toggle="modal" data-target="#con-close-modal" class="btn btn-success waves-effect waves-light"><i class="fa fa-plus"></i> إضافة صنف</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" id="categoriesTable">
        <thead>
            <tr>
                <th>
                    الاسم
                </th>
                <th>
                    الوحدة
                </th>
                <th>
                    المجموعة
                </th>
                <th>
                    مجموعة التجميع
                </th>
                <th>
                    مجموعة التجميع المخفضة
                </th>
                <th>إجراءات</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Categories)
            {
                string rowId = "row" + item.CategoryId;
                string unit = "unit" + item.CategoryId;
                //string price = "group" + item.CategoryId;
                string trId = "tr" + item.CategoryId;
                string groupingGroupId = "gGroup" + item.CategoryId;
                string lowGroupingGroupId = "lGroup" + item.CategoryId;
                string groupId = "group" + item.CategoryId;
                <tr id="@trId">

                    <td id="@rowId">@item.Name</td>
                    <td id="@unit">@item.Unit.Name</td>
                    <td id="@groupId">
                        @item.Group.Name
                    </td>
                    <td id="@groupingGroupId">
                        @item.GroupingGroup.Name
                    </td>
                    <td id="@lowGroupingGroupId">@item.LowGroupingGroup.Name</td>
                    <td class="actions">
                        <a href="#" class="on-default edit-row editCategory" data-id="@item.CategoryId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="on-default remove-row removeCategory" data-id="@item.CategoryId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Modals
{
    <!-- Insert Modal -->
    <div id="con-close-modal" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">إضافة صنف جديد</h4>
                </div>
                <div class="modal-body">
                    <form action="#" id="insertForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">اسم الصنف</label>
                                    <input type="text" class="form-control" required parsley-trigger="change" id="txtAddCategoryName" placeholder="قمصان داخلية">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">الوحدة</label>
                                    <select id="cmbAddCategoryUnit" class="form-control" required parsley-trigger="change">
                                        <option value="">اختر الوحدة</option>
                                        @foreach (var item in Model.Units)
                                        {
                                            <option value="@item.UnitId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">المجموعة</label>
                                    <select id="cmbAddCategoryGroup" class="form-control groupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة</option>
                                        @foreach (var item in Model.Groups)
                                        {
                                            <option value="@item.GroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">مجموعة التجميع</label>
                                    <select id="cmbAddCategoryGroupingGroup" class="form-control groupingGroupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة تجميع</option>
                                        @foreach (var item in Model.GroupingGroups)
                                        {
                                            <option value="@item.GroupingGroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">مجموعة التجميع المخفضة</label>
                                    <select id="cmbAddCategoryLowGroupingGroup" class="form-control groupingGroupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة التجميع المخفضة</option>
                                        @foreach (var item in Model.GroupingGroups)
                                        {
                                            <option value="@item.GroupingGroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                            <button type="submit" id="btnAddCategory" class="btn btn-info waves-effect waves-light">إضافة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Edit Modal -->
    <div id="con-close-modal-edit" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل صنف</h4>
                </div>
                <div class="modal-body">
                    <form action="#" id="editForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">اسم الصنف</label>
                                    <input type="text" class="form-control" required parsley-trigger="change" id="txtEditCategoryName" placeholder="قمصان داخلية">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">الوحدة</label>
                                    <select id="cmbEditCategoryUnit" class="form-control" required parsley-trigger="change">
                                        <option value="">اختر الوحدة</option>
                                        @foreach (var item in Model.Units)
                                        {
                                            <option value="@item.UnitId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">المجموعة</label>
                                    <select id="cmbEditCategoryGroup" class="form-control groupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة</option>
                                        @foreach (var item in Model.Groups)
                                        {
                                            <option value="@item.GroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">مجموعة التجميع</label>
                                    <select id="cmbEditCategoryGroupingGroup" class="form-control groupingGroupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة تجميع</option>
                                        @foreach (var item in Model.GroupingGroups)
                                        {
                                            <option value="@item.GroupingGroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">مجموعة التجميع المخفضة</label>
                                    <select id="cmbEditCategoryLowGroupingGroup" class="form-control groupingGroupsPage" required parsley-trigger="change">
                                        <option value="">اختر مجموعة التجميع المخفضة</option>
                                        @foreach (var item in Model.GroupingGroups)
                                        {
                                            <option value="@item.GroupingGroupId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="editCategoryId" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                            <button type="submit" id="btnEditCategory" class="btn btn-info waves-effect waves-light">حفظ التغيرات</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Delete  Modal -->
    <div id="con-close-modal-delete" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">رسالة تأكيد</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p>هل أنت متأكد من أنك تريد حذف <strong id="categoryName"></strong>؟</p>
                        </div>
                        <input type="hidden" id="deleteCategoryId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                        <button type="submit" id="btnDeleteCategory" class="btn btn-danger waves-effect waves-light">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
}

@section Scripts {

    <!-- Scripts related to this page goes here -->
    <!-- Required datatable js -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.print.min.js"></script>

    <!-- Notification js -->
    <script src="~/Content/plugins/notifyjs/dist/notify.min.js"></script>
    <script src="~/Content/plugins/notifications/notify-metro.js"></script>
    <script src="~/Content/assets/js/notifications-asset.js"></script>

    <!-- Parsleyjs -->
    <script type="text/javascript" src="~/Content/plugins/parsleyjs/dist/parsley.min.js"></script>

    <!-- Modals Effects -->
    <!-- Modal-Effect -->
    <script src="~/Content/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/Content/plugins/custombox/dist/legacy.min.js"></script>


    <script>
        $(document).ready(function () {
            var table = $("#categoriesTable").dataTable();

            //$("#btnAddDestination").click(function () {
            //    insertDestination();
            //});

            $('form').parsley();

            $("#insertForm").submit(function (e) {
                // Stop the form from being accepted
                e.preventDefault();

                insertCategory();
            });

            $(".editCategory").click(function () {
                // Get the id from the button
                var id = $(this).data("id");

                openEditModal(id);
            });

            // Click edit city button
            $("#editForm").submit(function (e) {
                // Don't submit
                e.preventDefault();

                // Get the id
                var id = $("#editCategoryId").val();
                var newName = $("#txtEditCategoryName").val();
                var unitId = $("#cmbEditCategoryUnit").val();
                var groupId = $("#cmbEditCategoryGroup").val();
                var groupingGroupId = $("#cmbEditCategoryGroupingGroup").val();
                var lowGroupingGroupId = $("#cmbEditCategoryLowGroupingGroup").val(); 

                // Send the reqeuest
                editCategory(id, newName, unitId, groupId, groupingGroupId, lowGroupingGroupId);
            });

            // Click the remove city button in the table
            $(".removeCategory").click(function () {
                // Get the id
                var id = $(this).data("id");
                // Open Modal
                openDeleteModal(id);
            });

            // Click the delete button in delete modal
            $("#btnDeleteCategory").click(function () {
                // Get the id
                var id = $('#deleteCategoryId').val();

                // Delete
                removeCategory(id);
            });

        });

         // Insert a new City
            function insertCategory() {
                var table = $("#categoriesTable").DataTable();

                // Get the data
                var name = $("#txtAddCategoryName").val();
                var groupId = $("#cmbAddCategoryGroup").val();
                var unitId = $("#cmbAddCategoryUnit").val();
                var groupingGroupId = $("#cmbAddCategoryGroupingGroup").val(); 
                var lowGroupingGroupId = $("#cmbAddCategoryLowGroupingGroup").val(); 
                var url = "@Url.Action("Create", "Categories")";

                $.ajax({
                    type: 'POST',
                    data: {
                        name: name,
                        unitId: unitId,
                        groupId: groupId,
                        groupingGroupId: groupingGroupId,
                        lowGroupingGroupId : lowGroupingGroupId
                    },
                    url: url,
                    success: function (data) {
                        showSuccessNotification("تمت العملية بنجاح", 'لقد تم إضافة ' + name);
                        // Close the modal
                        $("#con-close-modal").modal('toggle');

                        // Add the destination to the table
                        table.row.add([data.name, data.unit, data.group,data.groupingGroup,data.lowGroupingGroup,
                        "<a href='#' class='on-default edit-row editCategory' data-id='" + data.id + "' data-toggle='tooltip' data-placement='top' title='' data-original-title='Edit'><i class='fa fa-pencil'></i></a> <a href='#' class='on-default remove-row removeCategory' data-id='" + data.id + "' data-toggle='tooltip' data-placement='top' title='' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>"]).draw(false);
                        //$("#tableBody").append("<tr><td>" + data.name + "</td><td></td></tr>")

                    }
                }).fail(function (e) {
                    //alert(e.status + " " + e.statusCode());
                    if (e.status === 406) {
                        showErrorNotification("لم تتم العملية بنجاح", "يرجى ادخال المعلومات بشكل صحيح");
                    }
                    else{
                        showErrorNotification("لم تتم العملية بنجاح", "يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً");
                        }
                    });
        }

        // Funciton to open edit modal
        function openEditModal(id) {
            // Send a get request to get the data of the Categories
            var url = "@Url.Action("Details", "Categories")/" + id;

            // Send ajax request
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Set the text of the modal to name
                    $("#txtEditCategoryName").val(data.name);
                    $("#editCategoryId").val(data.id);
                    $("#cmbEditCategoryUnit").val(data.unitId);
                    $("#cmbEditCategoryGroup").val(data.groupId);
                    $("#cmbEditCategoryGroupingGroup").val(data.groupingGroupId);
                    $("#cmbEditCategoryLowGroupingGroup").val(data.lowGroupingGroup);
                    // Open the modal
                    $("#con-close-modal-edit").modal("toggle");
                }
            }).fail(function (e) {
                showErrorNotification("فشل", "يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً");
            });
        }

        // Function to edit the destination
        function editCategory(id, newName, unitId, groupId, groupingGroupId, lowGroupingGroupId) {
            // Send post request to edit the destiantion
            var url = "@Url.Action("Edit", "Categories")";
            var data = {
                id: id,
                newName: newName,
                groupId: groupId,
                unitId : unitId,
                groupingGroupId: groupingGroupId,
                lowGroupingGroupId: lowGroupingGroupId
            };

            // Ajax Request
            $.ajax({
                type: 'POST',
                data: data,
                url: url,
                success: function (data) {
                    // Close the modal
                    $("#con-close-modal-edit").modal('toggle');

                    // Update the value in the table
                    $("#row" + id).text(newName);
                    $("#unit" + id).text(data.unit);
                    $("#group" + id).text(data.group);
                    $("#gGroup" + id).text(data.groupingGroup);
                    $("#lGroup" + id).text(data.lowGroupingGroup);
                    // Show notification
                    showSuccessNotification('لقد تمت العملية بنجاح', 'لقد تم تعديل الصنف');
                }
            }).fail(function (e) {
                if (e.status == 406) {
                    // Conflic
                    showErrorNotification('فشل', 'يرجى إدخال معلومات صحيحة');
                }
                else if (e.status == 409)
                    showErrorNotification('فشل', 'يوجد هنالك صنف أخرى يحمل نفس الاسم');
                else {
                    showErrorNotification('فشل', 'يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً');
                }
            });
        }

        // Function to open delete modal
        function openDeleteModal(id) {
            // Get the name of the groupingGroup name from the table
            var category = $("#row" + id).text();

            // Show the name in the modal
            $("#categoryName").text(category);

            // Set the city in the hidden filed
            $("#deleteCategoryId").val(id);
            // Open the modal
            $("#con-close-modal-delete").modal('toggle');
        }

        // Function to remove the Grouping Group
        function removeCategory(id) {
            // Get the table to manpulaite
            var table = $("#categoriesTable").dataTable();

            // Get the name of the destination
            var name = $("#row" + id).text();

            // Prepare the url
            var url = "@Url.Action("Delete", "Categories")/" + id;

            // Send the post request to remove
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    // Remove from the table
                    $('#tr' + id).remove();
                    // Close the modal
                    $("#con-close-modal-delete").modal('toggle');

                    // Show notification
                    showSuccessNotification('تمت العملية بنجاح', 'لفد تم حذف الصنف ' + name);
                }
            }).fail(function (e) {
                showErrorNotification('فشل', 'لم تتم العملية بنجاح, يرجى إعادة المحاولة لاحقاً');
            });
        }
    </script>
}





