@model ALEmanMS.AdminWebsite.Models.CityViewModel

@{
    ViewBag.Title = "المدن";
}


@section Css {
    <!-- Css libraries for this page goes here-->
    <!-- Modals Library-->
    <link href="~/Content/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/Content/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="card-box">
    <h2>المدن</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="m-b-30">
                <button id="btnAddNewCity" data-toggle="modal" data-target="#con-close-modal" class="btn btn-success waves-effect waves-light"><i class="fa fa-plus"></i> إضافة مدينة</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" id="citiesTable">
        <thead>
            <tr>
                <th>
                    الوجهة
                </th>
                <th>
                    الترتيب
                </th>
                <th>
                    اسم المدينة
                </th>
                <th>إجراءات</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Cities)
            {
                string rowId = "row" + item.CityId;
                string destinationId = "destination" + item.CityId;
                string cityOrderId = "cityOrder" + item.CityId;
                string trId = "tr" + item.CityId; 
            <tr id="@trId">
                @{

                }
                <td id="@destinationId">@item.Destination.Name</td>
                <td id="@cityOrderId">@item.CityOrder</td>
                <td>
                    <span id="@rowId">@item.Name</span>
                </td>
                <td class="actions">
                    <a href="#" class="on-default edit-row editCity" data-id="@item.CityId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="on-default remove-row removeCity" data-id="@item.CityId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Modals
{
    <!-- Insert Modal -->
    <div id="con-close-modal" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">إضافة مدينة جديدة</h4>
                </div>
                <div class="modal-body">
                    <form action="#" id="insertForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">اسم المدينة</label>
                                    <input type="text" class="form-control" required parsley-trigger="change" id="txtAddCity" placeholder="دبي">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">ترتيب المدينة</label>
                                    <input type="number" class="form-control" required parsley-trigger="change" id="txtAddCityOrder" placeholder="0">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">الوجهة</label>
                                    <select id="cmbAddCityDestination" class="form-control destinationsPage" required parsley-trigger="change">
                                        <option value="">اختر الوجهة</option>
                                        @foreach (var item in Model.Destinations)
                                        {
                                            <option value="@item.DestinationId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                            <button type="submit" id="btnAddCity" class="btn btn-info waves-effect waves-light">إضافة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Edit Modal -->
    <div id="con-close-modal-edit" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل مدينة</h4>
                </div>
                <div class="modal-body">
                    <form action="#" id="editForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">اسم المدينة</label>
                                    <input type="text" class="form-control" required parsley-trigger="change" id="txtEditCityName" placeholder="دبي">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">ترتيب المدينة</label>
                                    <input type="number" class="form-control" required parsley-trigger="change" id="txtEditCityOrder" placeholder="0">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">الوجهة</label>
                                    <select id="cmbEditCityDestination" class="form-control destinationsPage" required parsley-trigger="change">
                                     
                                        @foreach (var item in Model.Destinations)
                                        {
                                            <option value="@item.DestinationId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="editCityId"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                            <button type="submit" id="btnEditCity" class="btn btn-info waves-effect waves-light">حفظ التغيرات</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    
    <!-- Delete  Modal -->
    <div id="con-close-modal-delete" class="modal fade" style="direction:rtl; display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">رسالة تأكيد</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p>هل أنت متأكد من أنك تريد حذف <strong id="cityName"></strong>؟</p>
                        </div>
                        <input type="hidden" id="deleteCityId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">إغلاق</button>
                        <button type="submit" id="btnDeleteCity" class="btn btn-danger waves-effect waves-light">حذف</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
}

@section Scripts {

    <!-- Scripts related to this page goes here -->
    <!-- Required datatable js -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/buttons.print.min.js"></script>

    <!-- Notification js -->
    <script src="~/Content/plugins/notifyjs/dist/notify.min.js"></script>
    <script src="~/Content/plugins/notifications/notify-metro.js"></script>
    <script src="~/Content/assets/js/notifications-asset.js"></script>

    <!-- Parsleyjs -->
    <script type="text/javascript" src="~/Content/plugins/parsleyjs/dist/parsley.min.js"></script>

    <!-- Modals Effects -->
    <!-- Modal-Effect -->
    <script src="~/Content/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/Content/plugins/custombox/dist/legacy.min.js"></script>


    <script>
        $(document).ready(function () {

            $('.destinationsPage').dblclick(function () {
                window.location.href = "http://localhost:49923/Destinations";
            })

            var table = $("#citiesTable").DataTable();

            //$("#btnAddDestination").click(function () {
            //    insertDestination();
            //});

            $('form').parsley();

            $("#insertForm").submit(function (e) {
                // Stop the form from being accepted
                e.preventDefault();

                insertCity();
            });

            $(".editCity").click(function () {
                // Get the id from the button
                var id = $(this).data("id");
                
                openEditModal(id);
            });

            // Click edit city button
            $("#editForm").submit(function (e) {
                // Don't submit
                e.preventDefault();

                // Get the id
                var id = $("#editCityId").val();
                var newName = $("#txtEditCityName").val();
                var cityOrder = $("#txtEditCityOrder").val(); 
                var destinationId = $("#cmbEditCityDestination").val(); 

                // Send the reqeuest
                editCity(id, newName, cityOrder, destinationId);
            });

            // Click the remove city button in the table
            $(".removeCity").click(function () {
                // Get the id
                var id = $(this).data("id");
                // Open Modal
                openDeleteModal(id);
            });

            // Click the delete button in delete modal
            $("#btnDeleteCity").click(function () {
                // Get the id
                var id = $('#deleteCityId').val();

                // Delete
                removeCity(id);
            });
            
        });

         // Insert a new City
            function insertCity() {
                var table = $("#citiesTable").DataTable();

                // Get the data 
                var cityName = $("#txtAddCity").val();
                var cityOrder = $("#txtAddCityOrder").val(); 
                var destinationId = $("#cmbAddCityDestination").val(); 

                var url = "@Url.Action("Create", "Cities")";

                $.ajax({
                    type: 'POST',
                    data: {
                        name: cityName,
                        destinationId: destinationId,
                        cityOrder : cityOrder
                    },
                    url: url,
                    success: function (data) {
                        showSuccessNotification("تمت العملية بنجاح", 'لقد تم إضافة ' + cityName);
                        // Close the modal
                        $("#con-close-modal").modal('toggle');

                        // Add the destination to the table
                        table.row.add([data.Destination, data.CityOrder, data.Name,
                        "<a href='#' class='on-default edit-row editCity' data-id='" + data.id + "' data-toggle='tooltip' data-placement='top' title='' data-original-title='Edit'><i class='fa fa-pencil'></i></a> <a href='#' class='on-default remove-row removeCity' data-id='" + data.id + "' data-toggle='tooltip' data-placement='top' title='' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>"]).draw(false);
                        //$("#tableBody").append("<tr><td>" + data.name + "</td><td></td></tr>")

                    }
                }).fail(function (e) {
                    //alert(e.status + " " + e.statusCode());
                    if (e.status === 406) {
                        showErrorNotification("لم تتم العملية بنجاح", "يرجى ادخال المعلومات بشكل صحيح");
                    }
                    else{
                        showErrorNotification("لم تتم العملية بنجاح", "يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً");
                        }
                    });
        }

        // Funciton to open edit modal
        function openEditModal(id) {
            // Send a get request to get the data of the city
            var url = "@Url.Action("Details", "Cities")/" + id;

            // Send ajax request
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Set the text of the modal to name
                    $("#txtEditCityName").val(data.Name);
                    $("#editCityId").val(data.CityId);
                    $("#txtEditCityOrder").val(data.CityOrder); 
                    $("#cmbEditCityDestination").val(data.DestinationId); 
                    // Open the modal
                    $("#con-close-modal-edit").modal("toggle");
                }
            }).fail(function (e) {
                showErrorNotification("فشل", "يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً");
            });
        }

        // Function to edit the destination
        function editCity(id, newName, cityOrder, destinationId) {
            // Send post request to edit the destiantion
            var url = "@Url.Action("Edit", "Cities")";
            var data = {
                cityId: id,
                newName: newName,
                cityOrder: cityOrder,
                destinationId : destinationId
            };

            // Ajax Request
            $.ajax({
                type: 'POST',
                data: data,
                url: url,
                success: function (data) {
                    // Close the modal
                    $("#con-close-modal-edit").modal('toggle');

                    // Update the value in the table
                    $("#row" + id).text(newName);
                    $("#destination" + id).text(data.Destination); 
                    $("#cityOrder" + id).text(data.CityOrder); 
                    // Show notification
                    showSuccessNotification('لقد تمت العملية بنجاح', 'لقد تم تعديل المدينة');
                }
            }).fail(function (e) {
                if (e.status == 406) {
                    // Conflic
                    showErrorNotification('فشل', 'يرجى إدخال معلومات صحيحة');
                }
                else {
                    showErrorNotification('فشل', 'يوجد هنالك خطأ ما, يرجى إعادة المحاولة لاحقاً'); 
                }
            });
        }

        // Function to open delete modal
        function openDeleteModal(id) {
            // Get the name of the city name from the table
            var city = $("#row" + id).text();

            // Show the name in the modal
            $("#cityName").text(city);

            // Set the city in the hidden filed
            $("#deleteCityId").val(id);
            // Open the modal
            $("#con-close-modal-delete").modal('toggle');
        }

        // Function to remove the Destination
        function removeCity(id) {
            // Get the table to manpulaite
            var table = $("#citiesTable").DataTable();

            // Get the name of the destination
            var name = $("#row" + id).text();

            // Prepare the url
            var url = "@Url.Action("Delete", "Cities")/" + id;

            // Send the post request to remove
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    // Remove from the table
                    $('#tr' + id).remove();

                    // Close the modal
                    $("#con-close-modal-delete").modal('toggle');

                    // Show notification
                    showSuccessNotification('تمت العملية بنجاح', 'لفد تم حذف المدينة ' + name);
                }
            }).fail(function (e) {
                showErrorNotification('فشل', 'لم تتم العملية بنجاح, يرجى إعادة المحاولة لاحقاً');
            });
        }
    </script>
}

