@model IEnumerable<ALEmanMS.Models.Driver>

@{
    ViewBag.Title = "السائقين";
}

@section Css {
    <!-- Css libraries for this page goes here-->
    <!-- Modals Library-->
    <link href="~/Content/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/Content/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="card-box">

    <h2>السائقن</h2>
    <p>
        <a href="@Url.Action("Create","Drivers")" class="btn btn-success waves-effect waves-light">إضافة سائق جديد<i class="mdi mdi-plus-circle-outline"></i></a>
    </p>

    @Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })
    <table class="table table-bordered table-hover" id="driversTable" dir="rtl">
        <thead>
            <tr>
                <th>
                    اسم السائق
                </th>
                <th>
                    المدينة
                </th>
                <th>
                    رقم الآلية
                </th>
                <th>
                    إجراءات
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                string rowId = "driver" + item.PersonId;
                <tr id="@rowId">
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.CityName
                    </td>
                    <td>
                        @item.VehicleNumber
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Drivers",new { @id = item.PersonId})"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Index","PersonContacts",new { @id = item.PersonId })"><i class="fa fa-address-book"></i></a>
                        <a href="#" class="on-default remove-row deleteButton" data-toggle="modal" data-placement="top" title="" data-id="@item.PersonId" data-target="#deleteModal" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- sample modal content -->
    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="CenterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="CenterModalLabel">تأكيد الحذف</h4>
                </div>
                <div class="modal-body">
                    <p>هل أنت متأكد من حذف هذا السائق؟</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" style="margin-left:5px;" data-dismiss="modal">إغلاق</button>
                    <button type="button" id="btnDelete" class="btn btn-danger waves-effect waves-light">حذف</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@section Scripts
{
    <!-- Required datatable js -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".deleteButton").click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $('#item-to-delete').val(id);
            });

            $("#btnDelete").click(function () {
                var d = $('#item-to-delete').val();
                var url = '@Url.Action("Delete","Drivers")/' + d;

                // Make an ajax request to delete the discount from the server
                $.ajax({
                    url: url,
                    type: "POST",
                }).done(function (data) {
                    $('#deleteModal').modal('toggle');
                    // Remove the row from the table
                    $('#driver' + d).remove();

                    // Show notification
                    showSuccessNotification('تمت العملية بنجاح', 'لفد تم حذف السائق ' + name);

                    }).fail(function () {
                        $('#deleteModal').modal('toggle');
                        // Show notification
                        showErrorNotification('فشل', 'لم تتم العملية بنجاح, يرجى إعادة المحاولة لاحقاً');
                    })
            });

            $("#driversTable").DataTable();
        });
    </script>
}

